/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
   /*blog*/
.sorting p {
    font-size: 14px;
    
}
.sorting ul li {
   
    padding-right: 5px;
}
.main-blog-desc h5:after {
   
    top: 58%;
}
.blog-left-asside-read ul li {
    padding: 10px 4px 10px 0px;
}
    /*contacts*/

/*all-event*/
.digest-all-events a h4 {
    font-size: 16px;
    
}
.digest-all-events img {
    width: 5px;
    height: 13px;
}

.digest-all-events a p {
    
    padding: 0 0 5px 4px;
}
.coming-all-event span {
    
    font-size: 20px;
    
}
.all-events-description p {
    font-size: 13px;
    
}
.all-events-description h1 {
    font-size: 28px;
    
}
/*all-event*/


#img4{
    display: none;
}
#img3 {
    padding-right: 30px;
}

    .stas-contacts-soc a {
        margin-right: 11px;
    }
    .stas-photo-contacts img {
        position: absolute;
        bottom: -45px;
        vertical-align: middle;
        z-index: 0;
        right: -18px;
        width: 218%;
    }
    /*contacts*/

    /*Главная Страница 1200пх*/
    .top-line .top-soc {
        margin-left: 30px;
    }
    .main-menu .main_nav li {
        margin-right: 11px;
    }

    .top-contacts i {
        margin-right: 3px;
    }
    .top-contacts span {
        
        font-size: 13px;
        
    }
    .top_language ul {
   
    width: 42px;
    
}
    .dropdown-toggle-ru {
            margin-right: -15px;
            padding: 2px 2px;
    }
    .top_language ul{
        left: 91%
    }

    .top-contacts .fa-envelope {
        margin-left: 5px;
    }
    header .main-head h1 {
        font-size: 60px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    header .main-head h3 {
        font-size: 26px;
    }
    header .main-head p {
        font-size: 14px;
    }

    header .main-head, header .main_photo {
        height: 460px;
    }
    header .main_photo img {
        width: 435px;
        
    }
    .bottom_line li span {
        margin: 0 100px 0 100px;
    }
    .bottom_line li {
        font-size: 30px;
    }
    .bottom_line ul {
        padding: 9px 0 0 0px;
    }
    .experience-team p {
        font-size: 19px;
    }

    .main-brands li {
        display: inline-block;
        padding-right: 25px;
    }
    .events-today h4 {
        font-size: 18px;
        font-family: "RobotoRegular", sans-serif;
        line-height: 1.125;
        margin: -3px 0 0;
        margin-bottom: 40px;
    }
    .event-button {
        margin-top: 30px;
    }
    .event-description h3 {
        margin-bottom: 20px;
    }
    .trainer h3 {
        font-size: 50px;
        
    }

    .event-description span {
        font-size: 22px;
    }

    .desc-book span {
        font-size: 17px;
    }
    .desc-book p {
        font-size: 52px;
        
    }
    .desc-book a {
        font-size: 12px;
    }
    .books-text h5 {
        
        font-size: 23px;
        
    }
    .books-text h6 {
        font-size: 16px;
    }
    .books-text p {
        font-size: 15px;
        
    }
    .books-text p {
        margin-bottom: 15px;
    }
    .main-footer li {
        
        padding-left: 35px;
        
    }
    .foot-soc a {
        
        margin-right: 24px;
        
    }
    .foot-contacts {
        padding-left:0px;
        
    }
    .foot-soc {
        padding-left: 0px;
        
    }
    .main-footer span {
        padding-left: 0;
    }
    .main-footer .form-submit {
        float: none;
        margin-top: 55px;
    }
    .trainer img {
       width: 100%;
   }
   /*Главная Страница 1200пх*/
   /*О ТРЕНЕРЕ*/
   .main-head-trainer h2 {
    font-size: 29px;
}
.main-head-trainer h2:after {
    left: 46px;
    width: 86px; 
}
/*О ТРЕНЕРЕ*/
.main-photo-trainer img {
    position: absolute;
    bottom: -17px;
    left: -134px;
    vertical-align: middle;
    z-index: 1;
}
/*END O TRENEERE*/

/*START TRENING*/
.content-information-trening h1 {
    font-size: 32px;
}
.reg-form-vip-trening h1 {
    font-size: 19px;
}
.content-information-trening h1 {
    font-size: 30px;
}


/*END TRENING*/

/*podkast*/
.main-content-event h1 {
    font-size: 33px;
}
.digest-events a p {
   
    padding: 0 0 5px 4px;
}
.digest-events a h5 {
    
    padding: 6px 0px 1px 2px;
}
.digest-events a h4 {
   
    padding: 1px 0px 10px 2px;
}
.main-content-event h1 {
    font-size: 24px;
}
.bottom-events-icon ul li {
  
    padding: 0 10px 15px 0;
}
#images {

    height: 262px;
   
}
#image3 {
    display: none;
}
#slider a {
    padding-right: 17px;
    width: 100%;
    padding-left: 23px;
}
.main-content-event h1 {
    font-size: 33px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    /*blog*/
    .sorting ul li {
    padding-right: 2px;
}

.sorting p {
    font-size: 13px;
}
.main-blog-desc h5:after {
    top: 62%;
}




    /*Главная Страница 992пх*/
.polosa1:after {
    height: 618px;
    top: 100%;
    
}
.polosa2:after {
    height: 618px;
    top: 100%;
   
}


.information-all-events h4 {
    color: #000;
    padding-top: 10px;
}
.main-button-all-events .all-events-transparent-button {
    margin-bottom: 31px;
    
}


    .main-content-event h1 {
    font-size: 33px;
}
     .top_language ul {
   
    width: 42px;
    
}
    .dropdown-toggle-ru {
            margin-right: -7px;
            padding: 2px 6px;
    }
    
    .main-menu .main_nav li {
        height: 100px;
        line-height: 90px;
        font-size: 14px;
        margin-right: 6px;
    }
    .top_language ul{
        left: 95%
    }

    header .main-head h1 {
        font-size: 45px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    header .main-head h3 {
        font-size: 26px;
        margin-bottom: 0;
    }
    header .main-head p {
        font-size: 12px;
        margin-bottom: 15px;
    }


    header .main_photo img {
        width: 422px;
        right: -10px;
        
    }
    .bottom_line li span {
        margin: 0 75px 0 75px;
    }
    .bottom_line li {
        font-size: 25px;
    }
    .bottom_line ul {
        padding: 11px 0 0 0px;
    }
    .line h3 {
        font-size: 14px;
        
    }
    .photo-stas img {
        width: 100%;
    }
    .experience-team h4 {
        font-size: 23px;
        
    }
    .experience-team span {
        font-size: 47px;
        
    }
    .experience-team p {
        font-size: 14px;
    }
    #carousel {
       display: none;
   }
   .main-brands li {
    display: inline-block;
    padding-right: 100px;
}
.coming-event span {
    
    font-size: 12px;
    
}
.event-description h3 {
    margin-bottom: 15px;
}
.event-description h3 {
    font-size: 28px;
}
.event-description span {
    font-size: 18px;
}
.event-button {
    margin-top: 20px;
}
.event-second {
    margin-top: 25px;
}
.event-first img {
    width: 120%;
}
.event-second img {
    width: 120%;
}
.events-today span {
    background-color: #e5e5e5;
    bottom: 0px;
    color: #296cd2;
    font-size: 15px;
    padding: 3px 6px;
    position: absolute;
    font-family: "RobotoRegular", sans-serif;
}
.events-today h4 {
    font-size: 16px;
    font-family: "RobotoRegular", sans-serif;
    line-height: 1.125;
    margin: 0px 0 0;
    margin-bottom: 40px;
}
.trainer img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.trainer h3 {
    font-size: 38px;
}
.trainer p {
    
    font-size: 18px;
    
}
.trainer span {
    font-family: "RobotoBold", sans-serif;
    color: #296cd2;
    font-size: 40px;
    padding: 9px 0px;
    margin-top: 18px;
    position: absolute;
    top: 352px;
}
.individual {
    min-height: 685px;
}
.reg-form p {
    font-size: 14px;
}

.books-text {
    margin-top: 10px;
    padding-bottom: 20px;
}
.main-footer span {
    font-size: 11px;
    
}
.main-footer p {
    font-size: 13px;
    
}
.foot-soc {
	display: none;
}
.main-footer li {
    padding-left: 15px;
}
.desc-book p {
    margin-bottom: 10px;
}
/* endГлавная Страница 992пх*/

/*TRENING*/
.content-information-trening h1 {
    font-size: 28px;
}
.coop-study {
    display: block;
    margin-bottom: 15px;
    width: 220px;
}
.individual-study {

    display: block;
    
    width: 220px;
}
.content-information-trening:after {
    top: 193px;
    
}
.about-traning ul li {
    font-size: 14px;
}
.about-traning p {
    font-size: 22px;
    
}
.about-traning h3 {
    font-size: 23px;
    
}
.reg-form-vip-trening h1 {
    font-size: 17px;
}


/*TRENING*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    /*Главная Страница 767пх*/
/**/   
.polosa1:after {
    height: 645px;
    top: 100%;
    z-index: 0;
    position: absolute;
}
.polosa2:after {
    height: 645px;
    top: 100%;
   z-index: 0;
   position: absolute;
}

    header .main-head h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .bottom_line li {
        font-size: 20px;
    }
    .bottom_line li span {
        margin: 0px 20px 0 20px;
    }
    .bottom_line ul {
        text-align: center;
    }
    .bottom_line ul {
        padding: 15px 0 0 0px;
    }
    .experience {
       text-align: center;
   }
   .experience-team h4 {
    font-size: 20px;
}
.experience-team span {
    font-size: 49px;
}
.exp-team h5 {
    font-size: 19px;
    
}
header .main-head, header .main_photo {
    height: 345px;
}
.main-brands ul {

    text-align: center;
}
.main-brands li {
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}
.video-wrap .play-video {
    
    top: 40%;
    
}
.coming-event span {
    font-size: 20px;
}
.event-description {
    position: relative;
    text-align: center;
    margin-top: 20px;

}
.event-button {
	
}
.event-description:after {
	display: none;
}
.event-description h3 {
    font-size: 28px;
    text-align: center;
}

.reg-form {
    background-color: #e5e5e5;
    padding: 20px 47px 0;
    margin-top: 370px;
    position: relative;
    z-index: 1;
}

.trainer span {
    font-family: "RobotoBold", sans-serif;
    color: #296cd2;
    font-size: 28px;
    padding: 9px 0px;
    margin-top: 18px;
    position: absolute;
    top: 95px;
}
.event-first img {
    width: 100%;
}
.event-second img {
    width: 100%;
}
.events-today h4 {
    font-size: 25px;
    font-family: "RobotoRegular", sans-serif;
    line-height: 1.125;
    margin: 4px 0 0;
    margin-bottom: 40px;
}
.events-today {
	margin-top: 20px;
}
.events-today span {
    background-color: #e5e5e5;
    bottom: 0px;
    color: #296cd2;
    font-size: 18px;
    padding: 3px 6px;
    position: absolute;
    font-family: "RobotoRegular", sans-serif;
}
.event-description a {
    display: block;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    height: 40px;
    line-height: 38px;
    margin-top: 19px;
    
    position: relative;
    width: 100%
}
.book-first {
	text-align: center;
}
.desc-book {
	text-align: center;
}
.books-text {
	text-align: center;
}
.video-wrap img {
    width: 100%;
    border:0;
    vertical-align: middle;
    margin-top: 20px;
}
.video-wrap .play-video {
    top: 35%;
}
.interest-inform {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

/*Главная Страница 767пх*/

/*О ТРЕНЕРЕ*/



.desc-main-trainer-inform h1 {
    font-size: 70px;
    line-height: 59px;
    
}
.main-head-trainer h2 {
    font-size: 28px;
}
.desc-main-trainer-inform h3{
    font-size: 29px;
}
.desc-main-trainer-inform p {
    font-size: 17px;
}
.line-motivation {
    left: -67px;
}
.trainer-description h3 {
    font-size: 15px;
    margin-top: 22px;
}
.trainer-our-planet img {
    
    left: 0px;
    
}
.trainer-bottom-text p {
    text-align: left;
}
.content-information-trening:after {
    display: none;
    
}
.content-information-trening h1 {
    font-size: 28px;
    margin-top: 20px;
}
.about-traning h3 {
    font-size: 23px;
    margin-top: -20px;
}
.main-info-event >.top-line-event >.container> .row >.col-md-12 > ul > li > span {
    
    font-size: 15px;
    
    
}
.main-info-event >.top-line-event >.container> .row >.col-md-12 > ul > li {
    font-size: 15px;
    padding-right: 5px;
}
#slider {
    display: none;
}
.bottom-events-icon ul {
    margin-bottom: 15px;
}
.bottom-map-line p {
    
    font-size: 14px;
    
}
.main-content-event .add-calendar-button {
    
    margin-top: 0px;
}
.bottom-map-line p {
   font-size: 12px;
    padding: 13px 20px 10px 0px;
    
}
.pager li {
    display: inline-block;
    padding: 7px 15px;
}
.pager a {
    
    font-size: 14px;
    
}
.load-more-events a {
    
    
    
    
    left: 2%;
}
.form-wrapper input {
    width: 250px;
}
.form-wrapper button {
    
    right: 15%;
    padding-left: 0px;
    
    width: 57px;
    
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

/*blog*/
.form-wrapper input {
    width: 225px;
}
.form-wrapper button {
    
    right: 15%;
    padding-left: 0px;
    
    width: 47px;
    
}
.main-blog-desc h5:after {
    top: 52%;
}

.pager-blog li {
    display: inline-block;
    padding: 3px 9px;
}
.pager-blog a {
    
    font-size: 12px;
    
}
.load-more-events-blog a {
    width: 250px;
    font-size: 15px;
}
/*blog*/





.polosa1:after {
    height: 600px;
    top: 100%;
    z-index: 0;
    position: absolute;
}
.polosa2:after {
    height: 600px;
    top: 100%;
   z-index: 0;
   position: absolute;
}
.digest {
    
    z-index: 999;

}



.coming-all-event span {
    font-size: 13px;
}
.pager li {
    display: inline-block;
    padding: 3px 9px;
}
.pager a {
    
    font-size: 12px;
    
}
.digest-all-events a h4 {
    font-size: 13px;
}


.owl-carousel-events .owl-item img {
    display: block;
    -webkit-transform-style: preserve-3d margin-top:35px;
    width: 66%;
}



    .main-info-event >.top-line-event >.container> .row >.col-md-12 > ul > li > span {
    
    font-size: 14px;
    
    
}
.main-info-event >.top-line-event >.container> .row >.col-md-12 > ul > li {
    font-size: 14px;
    padding-right: 2px;
}
.bottom-map-line p {
    font-family: "RobotoLight", sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding: 5px 20px 10px 0px;
    margin: 0;
}
    /*Главная Страница 480пх*/

.books-text h6,
.books-text p,
.books-text span {
    text-align: left;
}
.books-text {
    margin-bottom:  20px;
}
    .top-contacts span {
        
        font-size: 13px;
        
    }
    .navbar-menu {
        display: block !important;
    }

    header .main-head h3 {
        font-size: 16px;
        margin-bottom: 0;
    }
    header .main-head p {
        font-size: 12px;
        margin-bottom: 14px;
        margin-top: 30px;
    }
    .foot-soc {
       display: block;
   }
   .bottom_line {
    height: 160px;
    background-color: #000;
    margin-top: 60px;
}
.bottom_line li {
    font-size: 17px;
    display: block;
}
.bottom_line ul {
    padding: 20px 0 0 0px;
}
header .main-head h1 {
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 8px;
    line-height: 40px;
}
header .main-head p {
    font-size: 12px;
    margin-bottom: 13px;
    margin-top: 20px;
}
.experience-team h4 {
    font-size: 17px;
}
.experience-team span {
    font-size: 36px;
}
.experience-team p {
    font-size: 13px;
}
.exp-team a {
    font-size: 25px;
    height: 48px;
    line-height: 48px;
    margin-left: 20px;
    top: -4px;
    width: 134px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    padding: 10px 47px;
}
.exp-team h5 {
    font-size: 24px;
}
.main-brands ul {
    text-align: left;
    padding: 0;
}
.main-brands li {
    display: block;
    padding-right: 10px;
    text-align: center;
}
.events-today h4 {
    font-size: 14px;
    font-family: "RobotoRegular", sans-serif;
    line-height: 1.125;
    margin: 0px 0 0;
    margin-bottom: 25px;
}
.events-today span {
    background-color: #e5e5e5;
    bottom: 0px;
    color: #296cd2;
    font-size: 12px;
    padding: 2px 6px;
    position: absolute;
    font-family: "RobotoRegular", sans-serif;
}
.event-first img, .event-second img {
    width: 120%;
}
.main-section h2 {
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 42px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.reg-form {
    background-color: #e5e5e5;
    padding: 20px 47px 0;
    margin-top: 325px;
}
.trainer img {
    position: absolute;
    right: 0;
    top: 155px;
    width: 100%;
}
.trainer span {
    font-family: "RobotoBold", sans-serif;
    color: #296cd2;
    font-size: 21px;
    padding: 9px 0px;
    margin-top: 18px;
    position: absolute;
    top: 95px;
}
.book-first {
	text-align: center;
}
.desc-book {
	text-align: center;
}
.books-text {
	text-align: center;
}
.play-video {
    top: 25%;
}
.video-wrap img {
    width: 100%;
    border:0;
    vertical-align: middle;
    margin-top: 20px;
}
.video-wrap .play-video {
    top: 20%;
}
.interest-inform {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

/*Главная Страница 480пх*/
/*О ТРЕНЕРЕ*/
.main-head-trainer h2,
.main-info-trening h2,
.main-info-contacts h2,
.main-info-all-events h2,
.main-info-blog h2 {
    text-align: center;
    
}
.main-head-trainer h2:after,
.main-info-trening h2:after,
.main-info-contacts h2:after,
.main-info-all-events h2:after,
.main-info-blog h2:after {
    left: 50%;
    width: 50px;
}


.top-contacts span {
    
    font-size: 13px;
    
}
.main-head-trainer .trainer-polosa h2 {
 
}
.main-head-trainer h2 {
    font-size: 27px;
    
}

.desc-main-trainer-inform h1 {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 15px;
    line-height: 40px;
}
.desc-main-trainer-inform h3 {
    font-size: 16px;
    margin-bottom: 0;
}
.desc-main-trainer-inform p {
    font-size: 16px;
    line-height: 1.563;
    margin-bottom: 45px;
    font-family: "RobotoRegular", sans-serif;
}
.desc-main-trainer-inform p br {
    display: none;
}
.line-motivation {
    left: -17px;
    margin-bottom: 10px;
}
.trainer-description h3 {
    font-size: 14px;
    
    line-height: 1.5;
    
    margin-top: 22px;
}
.trainer-bottom-text p {
    text-align: center;
    font-size: 16px;
    
}
.trainer-bottom-text p br {
    display: none;
}
.trainer-our-planet img {
    position: relative;
    bottom: 0;
    left: 0px;
    vertical-align: middle;
    z-index: 1;
    width: 100%;
}
.main-content-event h1 {
    font-size: 23px;
}
.main-content-event p {
    font-size: 14px;
    
}
.main-content-event .add-calendar-button {
    
    margin-top: 0px;
}
#slider {
    display: none;
}
#images {
    margin-bottom: 0px;
}
.bottom-events-icon ul {
    margin-bottom: 15px;
}
.foot-soc {
    
    padding-left: 8px;
}
.foot-contacts {
    padding-left: 8px;
}
#images {
    height: 240px;
}
.digest-events a p {
    
    font-size: 11px;
    
}
.digest-events a p span {
    font-size: 32px;
}
.digest-events a h4 {
    font-size: 16px;

}
.digest-events a h5 {
    font-size: 11px;

}
.digest-events img {
    width: 7px;
    height: 13px;
}


.all-events-blue-button {
    position: relative;
    
    margin-bottom: 10px;
}
.all-events-transparent-button {
    position: relative;
    
}
.main-button-all-events {
    position: relative;
    text-align: center;

}
.main-button-all-events a {
    padding-left: 0px;
}

.load-more-events a {
    
    
    
    width: 230px;
    position: relative;
    left: 3%;
}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    /*Главная Страница 320пх*/
    .foot-soc {
       display: block;
   }
   .foot-soc {
    
    padding-left: 8px;
}
.foot-contacts {
    padding-left: 8px;
}
.digest-all-events a h4 {
    font-size: 13px;
}


   /*Главная Страница 320пх*/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /*Главная Страница 992пх*/
    .book-first img {
        width: 100%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



